.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.header_logo {
  width: 120px;
  object-fit: contain;
  margin-top: 10px;
}

.header_search {
  display: flex;
  flex: 1;
  max-width: 600px;
  margin-left: 20px;
  background-color: white;
  border-radius: 24px;
}

.header_searchInput {
  height: 30px;
  padding: 0 10px;
  border: none;
  border-radius: 24px;
  width: 100%;
  font-size: 14px;
}

.header_searchIcon {
  padding: 8px;
  height: 35px !important;
  background-color: #cd9042;
  border-radius: 50%;
  cursor: pointer;
}

.header_link {
  color: aliceblue;
  text-decoration: none;
}

.headerNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header_options {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.header__optionLineOne {
  font-size: 12px;
}

.header__optionLineTwo {
  font-size: 14px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.header__basketCount {
  margin-left: 5px;
  font-weight: bold;
  font-size: 14px;
}

@media only screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    justify-content: center;
    height: 140px;
    text-align: center;
  }

  .header_search {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .header_logo {
    width: 100px;
  }

  .header__optionLineOne {
    font-size: 10px;
  }

  .header__optionLineTwo {
    font-size: 12px;
  }
}
